* {
  margin: 0;
  padding: 0;

  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: 0px;
  font-style: normal;
}
.App {
  text-align: center;
  background-color: #000000;
}
.App2 {
  text-align: center;
  background-color: #F26D25;
  height: 2000px;
}

/* 로딩페이지(LoadingPage) */
.screen2 {
  display: flex;
  text-align: center;
  margin: 0 auto;
  /* width: 390px;
  height: 844px; */
}
.screen2 p {
  display: block;
  text-align: left;
  font-size: 40px;
  margin-left: 28px;
  color: white;
}
.lunch {
  margin-top: 206px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
.gif {
  width: 130px;
  height: 130px;
  margin-top: 200px;
}

/* 선택페이지(SelectPage) */
.screen {
  margin: auto;
  background-color: #fff;
  /* width: 390px;
  height: 844px; */
}
.form {
  /* width: 390px;
  height: 844px; */
}
/* 글자 */
.block p {
  margin-left: 5%;
  font-size: 36px;
  text-align: left;
  color: #ffffff;
}
.block a {
  color: #fff;
}
#mood {
  margin-top: 10px;
}

[type="radio"] {
  appearance: none;
}
input {
  width: 0;
  height: 0;
}
/* 버튼 두개씩 가로로 정렬 */
.select {
  display: flex;
  justify-content: space-evenly;
}
/* 선택버튼 한개한개 */
.selectButton {
  width: 116px;
  height: 106px;
  border-radius: 20px;
  border: 0px solid gray;
  box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  &.active {
    /* background-color: #ffdde0; */
    background-color: #fff;
  }
}
.logo {
  width: 65px;
  height: 65px;
  /* width: 0px;
  height: 0px; */
}
/* .selectButton {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  border: 0px solid gray;
  box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    background-color: #ffdde0;
  }
}
.logo {
  width: 15px;
  height: 15px;
} */

#high {
  margin-bottom: 6%;
}

/* 랜덤버튼 */
.utensils {
  width: 34px;
  height: 39px;
}
#start {
  width: 75px;
  height: 75px;
  margin-top: 25px;
  background-color: #F26D25;
  border: 0px solid gray;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}

.isLoading {
  /* width: 390px;
  height: 844px; */
}
.isLoading p {
  font-size: 30px;
  margin-top: 50%;
}

/* 버튼 클릭할 때 마다 배경 바꿔주기 */

.sunBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  z-index: 1;
}
.sunBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./image/sun.gif') center center/cover no-repeat;
  opacity: 0.5; /* 투명도 조절 */
  z-index: -1;
  pointer-events: none; /* 필요에 따라 추가: 배경 클릭 방지 */
}

.snowflakeBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  z-index: 1;
}
.snowflakeBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./image/snow.gif') center center/cover no-repeat;
  opacity: 0.5; /* 투명도 조절 */
  z-index: -1;
  pointer-events: none; /* 필요에 따라 추가: 배경 클릭 방지 */
}
.umbrellaBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  z-index: 1;
}
.umbrellaBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./image/rain.gif') center center/cover no-repeat;
  opacity: 0.5; /* 투명도 조절 */
  z-index: -1;
  pointer-events: none; /* 필요에 따라 추가: 배경 클릭 방지 */
}
.cloudBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  z-index: 1;
}
.cloudBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./image/cloud.gif') center center/cover no-repeat;
  opacity: 0.8; /* 투명도 조절 */
  z-index: -1;
  pointer-events: none; /* 필요에 따라 추가: 배경 클릭 방지 */
}

.normalBackground {
  margin: auto;
  background-color: #ffffff;
  height: 2000px;
}




















.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
